<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Play Chess with Zoher!!</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <audio id="moveSound" src="/sound/move-self.mp3"></audio>
    <audio id="invalidMoveSound" src="/sound/notify.mp3"></audio>
    <div class="w-full flex flex-col	 items-center justify-center h-screen bg-[#302E2B]">
        <div class="player-component p-5  w-96 mb-2 player-bottom flex justify-between rounded-lg bg-[#f0f0f0] text-[#212120]" id="box1">
            <div class=" flex gap-2">
            <div class="player-avatar-component player-avatar">
              <img
                alt="Guest1209493264"
                src="https://www.chess.com/bundles/web/images/white_400.png"
                width="40"
                height="40"
                id="img1"
              />
              <div class="presence-square-component">
                <div
                  class="presence-square-square"
                  style="width: 1rem; height: 1rem"
                ></div>
              </div>
            </div>
            <div class="player-tagline">
              <div class="user-tagline-component">
                <!---->
                <a
                  class="user-username-component user-username-white user-username-link user-tagline-username"
                  data-test-element="user-tagline-username"
                  >Guest1209493264</a
                >
                <!---->
                <div
                  class="country-flags-component country-xx"
                  data-tooltip-target="4"
                ></div>
                <!---->
                <div
                  class="connection-component connection-ok"
                  data-tooltip-target="10"
                >
                  <span class="connection-signal"></span>
                  <span class="connection-signal"></span>
                  <span class="connection-signal"></span>
                  <span class="connection-signal"></span>
                </div>
                <!---->
              </div>
              <div class="player-game-over-component">
                <div class="rating-score-component">
                  <span
                    class="svg-color-icon-icon svg-color-icon-rapid rating-score-icon"
                  ></span>
                  <span class="rating-score-rating">800</span>
                  <!---->
                </div>
                <!---->
              </div>
              <!---->
            </div>
    
           </div>
            <div
              class="clock-component clock-bottom clock-white clock-player-turn"
              data-tooltip-target="5"
            >
              <!---->
              <div class="clock-icon-icon text-white">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  class="time52"
                  id="rotatingElement2"
                  style="transform: rotate(0)"
                >
                  <path
                    d="M5.48,9a.93.93,0,0,0-.3.71v.58a.94.94,0,0,0,.3.71,1,1,0,0,0,.71.3h4.58a1,1,0,0,0,.71-.3.94.94,0,0,0,.29-.71V9.7A.92.92,0,0,0,11.48,9a1,1,0,0,0-.71-.27H6.19A1,1,0,0,0,5.48,9Z"
                  ></path>
                  <path
                    d="M19.22,6.1a9.9,9.9,0,0,0-2.14-3.18A10.23,10.23,0,0,0,13.9.78,9.76,9.76,0,0,0,10,0,9.86,9.86,0,0,0,6.1.78,10,10,0,0,0,.78,6.1,9.81,9.81,0,0,0,0,10a9.81,9.81,0,0,0,.78,3.9A10,10,0,0,0,6.1,19.22,9.86,9.86,0,0,0,10,20a9.76,9.76,0,0,0,3.89-.78,10.23,10.23,0,0,0,3.18-2.14,9.9,9.9,0,0,0,2.14-3.18A9.81,9.81,0,0,0,20,10,9.81,9.81,0,0,0,19.22,6.1ZM17.07,13a7.65,7.65,0,0,1-1.65,2.42A7.81,7.81,0,0,1,13,17.06a7.46,7.46,0,0,1-3,.6,7.51,7.51,0,0,1-3-.6,7.74,7.74,0,0,1-2.43-1.65A8,8,0,0,1,2.94,13a7.46,7.46,0,0,1-.6-3,7.46,7.46,0,0,1,.6-3A8,8,0,0,1,4.58,4.59,7.74,7.74,0,0,1,7,2.94a7.51,7.51,0,0,1,3-.6,7.45,7.45,0,0,1,3,.6,7.74,7.74,0,0,1,2.43,1.65A7.65,7.65,0,0,1,17.07,7a7.46,7.46,0,0,1,.6,3A7.46,7.46,0,0,1,17.07,13Z"
                  ></path>
                </svg>
              </div>
              <span class="clock-time-monospace" id="time1">10:00</span>
            </div>
          </div>
      <div class="chessboard w-96 h-96 bg-red-800"></div>
      <div class="player-component p-5 w-96 mt-2 player-bottom flex justify-between rounded-lg  bg-[#f0f0f0] text-[#212120]" id="box2">
        <div class=" flex gap-2">
        <div class="player-avatar-component player-avatar">
          <img
            alt="Guest1209493264"
            src="https://www.chess.com/bundles/web/images/white_400.png"
            width="40"
            height="40"
            id="img2"
          />
          <div class="presence-square-component">
            <div
              class="presence-square-square"
              style="width: 1rem; height: 1rem"
            ></div>
          </div>
        </div>
        <div class="player-tagline">
          <div class="user-tagline-component">
            <!---->
            <a
              class="user-username-component user-username-white user-username-link user-tagline-username"
              data-test-element="user-tagline-username"
              >You</a
            >
            <!---->
            <div
              class="country-flags-component country-xx"
              data-tooltip-target="4"
            ></div>
            <!---->
            <div
              class="connection-component connection-ok"
              data-tooltip-target="10"
            >
              <span class="connection-signal"></span>
              <span class="connection-signal"></span>
              <span class="connection-signal"></span>
              <span class="connection-signal"></span>
            </div>
            <!---->
          </div>
          <div class="player-game-over-component">
            <div class="rating-score-component">
              <span
                class="svg-color-icon-icon svg-color-icon-rapid rating-score-icon"
              ></span>
              <span class="rating-score-rating">800</span>
              <!---->
            </div>
            <!---->
          </div>
          <!---->
        </div>

       </div>
        <div
          class="clock-component clock-bottom clock-white clock-player-turn"
          data-tooltip-target="5"
        >
          <!---->
          <div class="clock-icon-icon" >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 20 20"
              class="time53"
              id="rotatingElement"
              style="transform: rotate(0)"
            >
              <path
                d="M5.48,9a.93.93,0,0,0-.3.71v.58a.94.94,0,0,0,.3.71,1,1,0,0,0,.71.3h4.58a1,1,0,0,0,.71-.3.94.94,0,0,0,.29-.71V9.7A.92.92,0,0,0,11.48,9a1,1,0,0,0-.71-.27H6.19A1,1,0,0,0,5.48,9Z"
              ></path>
              <path
                d="M19.22,6.1a9.9,9.9,0,0,0-2.14-3.18A10.23,10.23,0,0,0,13.9.78,9.76,9.76,0,0,0,10,0,9.86,9.86,0,0,0,6.1.78,10,10,0,0,0,.78,6.1,9.81,9.81,0,0,0,0,10a9.81,9.81,0,0,0,.78,3.9A10,10,0,0,0,6.1,19.22,9.86,9.86,0,0,0,10,20a9.76,9.76,0,0,0,3.89-.78,10.23,10.23,0,0,0,3.18-2.14,9.9,9.9,0,0,0,2.14-3.18A9.81,9.81,0,0,0,20,10,9.81,9.81,0,0,0,19.22,6.1ZM17.07,13a7.65,7.65,0,0,1-1.65,2.42A7.81,7.81,0,0,1,13,17.06a7.46,7.46,0,0,1-3,.6,7.51,7.51,0,0,1-3-.6,7.74,7.74,0,0,1-2.43-1.65A8,8,0,0,1,2.94,13a7.46,7.46,0,0,1-.6-3,7.46,7.46,0,0,1,.6-3A8,8,0,0,1,4.58,4.59,7.74,7.74,0,0,1,7,2.94a7.51,7.51,0,0,1,3-.6,7.45,7.45,0,0,1,3,.6,7.74,7.74,0,0,1,2.43,1.65A7.65,7.65,0,0,1,17.07,7a7.46,7.46,0,0,1,.6,3A7.46,7.46,0,0,1,17.07,13Z"
              ></path>
            </svg>
          </div>
          <span class="clock-time-monospace" id="time2">10:00</span>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.socket.io/4.7.5/socket.io.min.js"
      integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"
      integrity="sha512-xRllwz2gdZciIB+AkEbeq+gVhX8VB8XsfqeFbUh+SzHlN96dEduwtTuVuc2u9EROlmW9+yhRlxjif66ORpsgVA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/js/chessgame.js"></script>
  </body>
</html>
